{% set current_url = "https://data.gov.sk/dataset/"+id %}
<script type="text/javascript">

         function sendit2(){
          var emailAddr=prompt("{{_('Enter the mail addressof the recipient')}}","");
          var subject= '{{_("Link from data.gov.sk")}}';

          var bodyText= escape("");
            
          var bodyUrl="https://data.gov.sk/dataset/{{id}}";
              window.open("mailto:"+emailAddr+"?Subject="+subject+"&body="+bodyText+bodyUrl,"_self"); 
          }
        function Sendit(){
         if (navigator.appName == 'Netscape'){ 
          sendit2();
        } else { 
          if (navigator.appName == 'Opera'){
            sendit2();
          } else { 
              alert('{{_("We are sorry, but your browser doesn't support this feature. Please use File » Send » Link by Email...")}}');
          } 
        }
      }
   
 </script>
<section class="module module-narrow social">
<h2 class="module-heading"><i class="icon-medium icon-share"></i> {{ _('Social') }}</h2>

      <ul class="nav nav-simple" style="font-size: 1.2em;">
        <li class="nav-item"><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank" title="{{_('Share on')}} Google+. {{_('Warning! This hyperlink will open in a new window or tab (depending on which web browser they are using and how they configured that browser).')}}"><i class="icon-google-plus-sign"></i> Google+</a></li>
        <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank" title="{{_('Share on')}} Twitter. {{_('-in new window')}}"><i class="icon-twitter-sign"></i> Twitter</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"  title="{{_('Share on')}} Facebook. {{_('-in new window')}}"><i class="icon-facebook-sign"></i> Facebook</a></li>
        <li class="nav-item"><a href="javascript:Sendit()" title="{{_('Send link via e-mail')}}"><i class="fa fa-at"></i> E-mail</a></li>
        <!-- odoslať odkaz na článok emailom -->
        {% if h.valid_dataset(id) %}
       
            {%if h.in_profile(id) == False %}

                {% if h.logged() %}

                    <li class="nav-item"><a href="/add_link?dataset_id={{id}}" title="{{_('add to profile')}}"><i class="fa fa-plus"></i> {{_('Add to profile')}}</a></li>
                {%endif%}
            {%else%}

               <li class="nav-item"><a href="#" title="{{_('add to profile')}} "><i class="fa fa-check-square"></i> {{_('Added')}}</a></li>
            {%endif%}
        {% else %}

          {%if h.is_resource(id) %}

                {%if h.in_profile(h.get_dataset_id(id)) == False%}

                  {% if h.logged() %}

                      <li class="nav-item"><a href="/add_link?dataset_id={{h.get_dataset_id(id)}}" title="{{_('add to profile')}}"><i class="fa fa-plus"></i> {{_('Add to profile')}}</a></li>
                  {%endif%}
                {%else%}

                  <li class="nav-item"><a href="#" title="{{_('add to profile')}}"><i class="fa fa-check-square"></i> {{_('Added')}}</a></li>

                {%endif%}
          {%endif%}
        {%endif%}
      </ul>

  </section>




