{%ckan_extends%}

{% block secondary_content %}
{{super()}}

{% set links = h.get_links(c.user_dict['id']) %}
{%if links|length != 0 %}
<div id="profile_links">
<h3>{{_('Dataset links:')}}</h3>
{%endif%}

<ul style="list-style: none;">
 {% for i in links %}
 	{% set dataset_name = h.dataset_name(i.dataset_id) %}
 	{% if dataset_name %}
		<li><a href='/dataset/{{i.dataset_id}}' >{{h.dataset_name(i.dataset_id)}}</a>{% if c.id == c.user%}<a href="/del_link?id={{i.id}}"> <i class="fa fa-remove"></i></a> {%endif%}</li>
	{% endif %}
 {%endfor%}
</ul>
</div>
{%endblock%}